*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: teal;
    background: radial-gradient();
    font-family: sans-serif;
}
p{
    margin-bottom: 30px;
}
.loginform{
background-color: white;
width: 100%;
max-width: 600px;
margin: 0px auto;
margin-top: 100px;
padding: 40px;
text-align: center;
}
.title{
    text-transform: uppercase;
    color: rgb(95, 150, 14);
    font-size: 40px;
    margin-bottom: 40px 0px 10px 10px;
}
.login{

}
.btn{
    background-color: rgb(21, 180, 21);
    color: white;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 4px;
    border: 1px solid rgb(16, 138, 16);
    font-size: 20px;
}
#email, #pass {
    width: 300px;
    font-size: 20px;
    border:  1px solid rgb(136, 138, 133);
    padding: 5px 10px;
    border-radius: 4px;
}
label{
    display: inline-block;
    width: 200px;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}