table{
    border: 2px solid black;
    border-collapse: collapse;   
}
.bottom, td{
    border: 1px solid rgb(175, 172, 172);
    padding: 10px;
}
.header{
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
.head{
    border:1px solid black;
}


