*{
    padding: 0px;
    margin: 0px;
}

table{
    width: 400px;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px; 
}
.Header{
    background-color: rgb(154, 198, 235);
    text-align: center;
    border: 1px solid black;
    padding: 3px;

}
#Button{
    text-align: center;
    border: 1px solid black;
    
}
#nametext{
    width: 99%;
   box-shadow: inset 1px 1px 0px 0px rgb(214, 213, 213);
}
#descriptext{
    width: 100%;
    box-shadow: inset 2px 2px 0px 0px rgb(143, 143, 143);
}

td{
    border: 1px solid grey;
    padding: 3px;
}
#pfooter{
    text-align: center;
    padding: 5px;
}
main{
    width: 100%;
    padding: 5px;
}
.home{
    display: inline-block;
    width: 30%;
    padding: 5px 5px 20px 5px;
    text-align: left;    
}
.task{
    display: inline-block;
    width: 30%;
    padding: 5px 5px 20px 5px;
  text-align: right;
  font-family: Arial;
  text-decoration: none; 
    color: rgb(110, 110, 110);
    font-weight: bold;
}
.solution{
    display: inline-block;
    width: 30%;
    padding: 5px 5px 20px 5px;
    text-align: left;
    font-family: Arial;
    font-weight: bold;   
}
.phome{
    text-decoration: none; 
    color: rgb(110, 110, 110);
    font-weight: bold;
    font-family: Arial;
    font-size: 18px;
}
#top{
    width: 100%;
    padding: 5px 5px 10px 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    background-color: blanchedalmond;
}