*{
    padding: 0px;
    margin: 0px;
}

table{
    width: 400px;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px; 
}
.Header{
    background-color: rgb(154, 198, 235);
    text-align: center;
    border: 1px solid black;
    padding: 3px;

}
#Button{
    text-align: center;
    border: 1px solid black;
    
}
#nametext{
    width: 99%;
   box-shadow: inset 1px 1px 0px 0px rgb(214, 213, 213);
}
#descriptext{
    width: 100%;
    box-shadow: inset 2px 2px 0px 0px rgb(143, 143, 143);
}

td{
    border: 1px solid grey;
    padding: 3px;
}