*{
    padding: 0px;
    margin: 0px;
}
#header{
    background-color: rgb(231, 194, 126);
    width: 700px;
    height: 20px;
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-size: 16px;
}
#titleform{
    text-align: center;
    width: 700px;
    height: 20px;
    padding:10px 0px 10px 0px;
    font-size: 16px;
    background-color: rgb(245, 213, 33);
}
#root{
    display: flex;
}
.data1{
 text-align: right; 
 height: 20px; 
}
.data2, .data3{
    text-align: right;
    height: 100px; 
}
.data4{
    text-align: right;
    height: 50px;  
}
.data5{
    text-align: left;
    height: 90px;  
}
.data6, .data7{
    text-align: left; 
    height: 100px;  
}
.data8{
    text-align: left; 
    height: 50px; 
}
.data1, .data2, .data3, .data4, .data6, .data7, .data8 {
    padding: 5px;
}
#name, #address, #email, #btnsubmit {
    padding: 5px;
}
#left{
    width: 200px;
    height: 500px;
    background-color: rgb(245, 213, 33);
}
#right{
    width: 500px;
    height: 500px;
    background-color: rgb(245, 213, 33);
}
#btnsubmit {
    text-align: left;
}
#pfooter{
    text-align: center;
    padding: 5px;
}
main{
    width: 100%;
    padding: 5px;
}
.home{
    display: inline-block;
    width: 30%;
    padding: 5px 5px 20px 5px;
    text-align: left;    
}
.task{
    display: inline-block;
    width: 30%;
    padding: 5px 5px 20px 5px;
  text-align: right;
  font-family: Arial;
  text-decoration: none; 
    color: rgb(110, 110, 110);
    font-weight: bold;
}
.solution{
    display: inline-block;
    width: 30%;
    padding: 5px 5px 20px 5px;
    text-align: left;
    font-family: Arial;
    font-weight: bold;   
}
.phome{
    text-decoration: none; 
    color: rgb(110, 110, 110);
    font-weight: bold;
    font-family: Arial;
    font-size: 18px;
}
#top{
    width: 100%;
    padding: 5px 5px 10px 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    background-color: blanchedalmond;
}
