div{background-color: aquamarine;

margin: 5px;
color: brown;

}
.container{
    background-color: darkgrey;
    width: 120px;
    height: 35++
    0px;
} 
.item{
    height: 100px;
width: 100px;
border-radius: 50%;
}
.border-red{border: 10px solid grey;}
.border-green{border: 10px solid rgb(15, 192, 95)204, 134, 134);}

#box1, #box4 {background-color: red;
    
}
#box2, #box5 {background-color: yellow;
    
}
#box3, #box6 {background-color: green;
    
}
 table, td{border: 1px solid grey;}  